body {
  margin: 0;
  font-family: 'Source Code Pro', monospace;
  font-weight: 500;
}

a {
  padding: 10px;
}

h6 {
  margin-bottom: 0;
  color: rgb(96, 112, 158);
}

h1 {
  margin: 2px;
}

header {
  font-size: 12px;
  display: grid;
  height: 75px;
  grid-template-columns: 1fr 300px 1fr;
}

.contactbar {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.namebar {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.namebar > p {
  margin: 0;
}

.socialbar {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.intro-bar {
  padding-top: 50px;
  width: 100%;
  text-align: center;
}

.intro-bar > h2 {
  margin: 0;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 400px;
}

section {
  display: grid;
  justify-content: center;
  align-items: center;
}

section p {
  font-size: 10.75px;
  font-weight: bold;
  color: black;
}

.bio-info {
  margin-bottom: 50px;
}

.contact-info {
  margin-bottom: 50px;
  font-weight: bold;
}

.services-info {
  font-weight: bold;
}

article {
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

.img-headshot {
  width: 200px;
  border-radius: 150px;
  padding: 13px;
  border: 1px solid #cccccc;
}

.rightside-section {
  text-align: right;
}

.excellent-info {
  margin-bottom: 50px;
}

.satisfaction-info {
  margin-bottom: 50px;
}

.excellent-info > p {
  font-size: 15px;
}

.satisfaction-info > p {
  font-size: 15px;
}

.projects-info > p {
  font-size: 15px;
}

footer {
  height: 200px;
  display: grid;
  grid-template-columns: 150px 1fr 1fr 1fr 1fr 150px;
}

footer > div {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}
